@media(max-width:576px){
.container{
width: 50%;
}
}
:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
a:-webkit-any-link {
    cursor: pointer;
}
.link{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.link a{
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}
.title{
    text-align: center;
    height: 1000px;
background-color: rgba(249, 247, 254, 1);
}
.hi{
font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: center;
padding-top: 276px;
}
.name{
   font-family: Playfair Display;
   font-size: 96px;
   font-weight: 700;
   line-height: 128px;

}
.info1{
    font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
}

.inquiry{
width:1160px;
height:200px;
background-color:rgba(249, 247, 254, 1);
border-radius: 5px;
padding: 50px;
text-align: center;
margin-top: 100px;
}
h3{
font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0em;
text-align: left;
}
.title{
text-align: center;
height: 1000px;
background-color: rgba(249, 247, 254, 1);
}

h2{
font-family: Playfair Display;
font-size: 64px;
font-weight: 700;
line-height: 85px;
margin-top: 70px;
}
.about-me{
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
    background-color: white;
    border: 1px solid;
}
.contact{
    color: white;
    background-color: var(--primary-color);
    border:1px solid var(--box-shadow) ;
}
.content{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.primary-link
{
width: Fixed (200px);
height: Hug (60px);
top: 1526px;
left: 688px;
padding: 18px 30px 18px 30px;
border-radius: 4px;
border: solid 1px;
gap: 10px;
color: var(--primary-color);
text-decoration: none;
}
.container{
margin-top: 100px;

}
.mt-5 {
    margin-top: 3rem!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.row{
    padding-bottom: 40px;
}
.box{
    margin-left: 50px;
    }
.photo{
        height: 400px;
        width: 300px;
        margin-top: 100px;
        padding-left: 30px;
        border-radius: 50%;
    }
    h1{
font-family: Playfair Display;
font-size: 64px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0em;
text-align: left;
margin-top: 100px;
margin-bottom: 10px;
    }
.here{
    display: inline-block;
width: Fixed (200px);
height: Hug (60px);
margin-top: 50%;
padding: 18px 30px 18px 30px;
border-radius: 4px;
border: solid 1px;
gap: 10px;
color: white;
background-color: var(--primary-color);
text-decoration: none;
}
.email{
display: block;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
text-decoration: none;
color: var(--primary-color);
margin-top: 30px;  
}
.icon{  
    text-align: center;
    text-decoration: none;
}
.box{
    width: 1160px;
}
.works img{
    width:560px;
}
.project-name{
font-family: Poppins;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
margin-top: 15px;
}